#git status excludes the following files (except those line who start with !)
*.order
*.lo
*.la
*.so
*.o
.*.cmd
*.ko
*.a
*.mod.c
*.o.d
*.swp
*~
Makefile.in
aclocal.m4
Archive
COPYING
INSTALL
.deps/
Module.symvers
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
autom4te.cache/
acinclude.m4
.libs/
libtool
ltmain.sh
missing
cvs/apps/misc/tools/Makefile
cvs/apps/misc/tools/depcomp
cvs/driver/Modules.symvers

cvs/apps/misc/tools/devinit/Makefile
cvs/apps/misc/tools/devinit/devinit
cvs/apps/misc/tools/evremote2/Makefile
cvs/apps/misc/tools/evremote2/evremote2
cvs/apps/misc/tools/evremote2/evtest
cvs/apps/misc/tools/fp_control/Makefile
cvs/apps/misc/tools/fp_control/fp_control
cvs/apps/misc/tools/gitVCInfo/Makefile
cvs/apps/misc/tools/gitVCInfo/gitVCInfo
cvs/apps/misc/tools/hotplug/Makefile
cvs/apps/misc/tools/hotplug/hotplug
cvs/apps/misc/tools/install-sh
cvs/apps/misc/tools/libdreamdvd/Makefile
cvs/apps/misc/tools/libdreamdvd/libdreamdvd.pc
cvs/apps/misc/tools/libeplayer2/Makefile
cvs/apps/misc/tools/showiframe/Makefile
cvs/apps/misc/tools/showiframe/showiframe
cvs/apps/misc/tools/stamp-h1
cvs/apps/misc/tools/stfbcontrol/Makefile
cvs/apps/misc/tools/stfbcontrol/rset
cvs/apps/misc/tools/stfbcontrol/stfbcontrol
cvs/apps/misc/tools/streamproxy/Makefile
cvs/apps/misc/tools/streamproxy/streamproxy
cvs/apps/misc/tools/tfd2mtd/Makefile
cvs/apps/misc/tools/tfd2mtd/tfd2mtd
cvs/apps/misc/tools/tffpctl/Makefile
cvs/apps/misc/tools/tffpctl/tffpctl
cvs/apps/misc/tools/ustslave/Makefile
cvs/apps/misc/tools/ustslave/ustslave
cvs/apps/misc/tools/ustslave_stm23/Makefile
cvs/apps/misc/tools/ustslave_stm23/ustslave_stm23
cvs/apps/neutrino/Makefile
cvs/apps/neutrino/data/Makefile
cvs/apps/neutrino/data/fonts/Makefile
cvs/apps/neutrino/data/icons/Makefile
cvs/apps/neutrino/data/iso-codes/Makefile
cvs/apps/neutrino/data/lcd/Makefile
cvs/apps/neutrino/data/lcd/clock/Makefile
cvs/apps/neutrino/data/lcd/icons/Makefile
cvs/apps/neutrino/data/locale/Makefile
cvs/apps/neutrino/depcomp
cvs/apps/neutrino/install-sh
cvs/apps/neutrino/lib/Makefile
cvs/apps/neutrino/lib/connection/Makefile
cvs/apps/neutrino/lib/controldclient/Makefile
cvs/apps/neutrino/lib/libconfigfile/Makefile
cvs/apps/neutrino/lib/libcoolstream/Makefile
cvs/apps/neutrino/lib/libdvbsub/Makefile
cvs/apps/neutrino/lib/libeventserver/Makefile
cvs/apps/neutrino/lib/libmd5sum/Makefile
cvs/apps/neutrino/lib/libnet/Makefile
cvs/apps/neutrino/lib/libtuxtxt/Makefile
cvs/apps/neutrino/lib/libupnpclient/Makefile
cvs/apps/neutrino/lib/sectionsdclient/Makefile
cvs/apps/neutrino/lib/sectionsdclient/sectionsdcontrol
cvs/apps/neutrino/lib/timerdclient/Makefile
cvs/apps/neutrino/lib/xmltree/Makefile
cvs/apps/neutrino/src/Makefile
cvs/apps/neutrino/src/daemonc/Makefile
cvs/apps/neutrino/src/driver/Makefile
cvs/apps/neutrino/src/driver/audiodec/Makefile
cvs/apps/neutrino/src/driver/pictureviewer/Makefile
cvs/apps/neutrino/src/gui/Makefile
cvs/apps/neutrino/src/gui/bedit/Makefile
cvs/apps/neutrino/src/gui/widget/Makefile
cvs/apps/neutrino/src/neutrino
cvs/apps/neutrino/src/nhttpd/Makefile
cvs/apps/neutrino/src/nhttpd/tuxboxapi/Makefile
cvs/apps/neutrino/src/nhttpd/web/Makefile
cvs/apps/neutrino/src/nhttpd/web/Y_Baselib.js.gz
cvs/apps/neutrino/src/nhttpd/web/Y_VLC.js.gz
cvs/apps/neutrino/src/nhttpd/web/channels.js.gz
cvs/apps/neutrino/src/nhttpd/web/images/Makefile
cvs/apps/neutrino/src/nhttpd/web/scripts/Makefile
cvs/apps/neutrino/src/nhttpd/yhttpd_core/Makefile
cvs/apps/neutrino/src/nhttpd/yhttpd_mods/Makefile
cvs/apps/neutrino/src/sectionsd/Makefile
cvs/apps/neutrino/src/system/Makefile
cvs/apps/neutrino/src/timerd/Makefile
cvs/apps/neutrino/src/zapit/Makefile
cvs/apps/neutrino/src/zapit/lib/Makefile
cvs/apps/neutrino/src/zapit/src/Makefile
cvs/apps/neutrino/src/zapit/src/pzapit
cvs/apps/neutrino/src/zapit/src/udpstreampes
cvs/apps/neutrino/stamp-h1

cvs/apps/misc/tools/libeplayer3/Makefile
cvs/apps/misc/tools/libeplayer3/eplayer3
cvs/apps/misc/tools/libeplayer3/meta
cvs/apps/misc/tools/libmme_host/Makefile
cvs/apps/misc/tools/libmmeimage/Makefile
cvs/apps/misc/tools/vfdctl/Makefile
cvs/apps/misc/tools/vfdctl/vfdctl

cvs/cdk/Makefile
cvs/cdk/Makefile-archive
cvs/cdk/RPMS/
cvs/cdk/SRPMS/
cvs/cdk/autofs-4.1.4/
cvs/cdk/boost_1_40_0/
cvs/cdk/busybox-1.19.3/
cvs/cdk/config
cvs/cdk/curl-*
cvs/cdk/depcomp
cvs/cdk/e2fsprogs-1.40.2/
cvs/cdk/ethtool-6/
cvs/cdk/freetype-2.3.5/
cvs/cdk/giflib-4.1.6/
cvs/cdk/grep-2.5.1/
cvs/cdk/host-python-2.6/
cvs/cdk/install-sh
cvs/cdk/jpeg-6b/
cvs/cdk/lastChoice
cvs/cdk/libdvdcss-1.2.10/
cvs/cdk/libdvdnav-4.1.3/
cvs/cdk/libdvdread-4.1.3/
cvs/cdk/libid3tag-0.15.1b/
cvs/cdk/libmad-0.15.1b/
cvs/cdk/libpng-1.2.16/
cvs/cdk/linux-sh4
cvs/cdk/linux-sh4-2.6.23.17_stm23_0119/
cvs/cdk/lirc-0.8.2/
cvs/cdk/localmacros
cvs/cdk/lsb-3.2/
cvs/cdk/module-init-tools-3.3-pre1/
cvs/cdk/openrdate-1.1.2/
cvs/cdk/openvpn-2.1.1/
cvs/cdk/opkg-0.1.8/
cvs/cdk/portmap_6.0/
cvs/cdk/rules-downcheck.pl
cvs/cdk/u-boot/
cvs/cdk/util-linux-2.12r/
cvs/cdk/vsftpd-2.0.7/
cvs/cdk/zlib-1.2.3/
cvs/cdk/ffmpeg-*
cvs/cdk/libass-*
cvs/driver/.config
cvs/driver/.tmp_versions/
#make.sh changes something in this file, so dont commit by default
cvs/driver/Makefile

tufsbox/
.version
cvs/cdk/BUILD/
cvs/cdk/SOURCES/
cvs/cdk/SPECS/
cvs/cdk/linux
cvs/cdk/linux-*
cvs/cdk/root/var/etc/.version

#Theses are only links which are created by make.sh
cvs/driver/include/multicom
cvs/driver/include/player2
cvs/driver/include/stmfb
cvs/driver/multicom
cvs/driver/player2
cvs/driver/stgfb/stmfb
