#
#    Make.config for the PearlHD skin for text2skin
#
#    http://www.vdr-wiki.de/wiki/index.php/PearlHD
#    Copyright (C) 2010  don_jan at web.de (mapovi - vdrportal.de) 
#
#    This program is free software; you can redistribute it and/or modify it under the terms of 
#    the GNU General Public License as published by the Free Software Foundation; either 
#    version 2 of the License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
#    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
#    See the GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along with this program; 
#    if not, write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, 
#    MA 02110, USA

# Text of the colored channel-view buttons
# Text der farbigen Channelabsicht Knöpfe
BUTTON_1=Aufnehmen
BUTTON_2=Timer
BUTTON_3=Aufnahmen
BUTTON_4=Teletext

#Um eine der folgenden Optionen zu aktivieren muss die Raute vor dem Eintrag entfernt werden
#To activate one of the following options, delete the leading #

#MENU

#Skin für yaepghd aktivieren
#Activate skin für yaepghd
#YAEPGHD=1

#Die laufende Aufnahme wird im Kopf angezeigt
#Running recordings showing in the header
#RECTITLEINFOHEAD=1

#Die laufende Aufnahme und Timer wird rechts unten angezeigt
#Running recordings showing in the right bottom
#RECTITLEINFOBOTTOM=1

#Die laufende Aufnahme wird rechts oben angezeigt
#Running recordings showing in the right top
#RECTITLEINFOTOP=1

#Kanallogos anzeigen
#Display Channel-logos
#CHANNELLOGO=1

#Kanallogos rechts anzeigen
#Display channel-logos on the right
#CHANNELLOGORIGHT=1

#Format der Logos
#Format of the images
#CHANNELLOGOPNG=1
#CHANNELLOGOJPG=1

#EPG-Images anzeigen ( Menuansicht nutzt dann Mehr Farben! )
#Display EPG-Images
EPGIMAGES=1
EPGIMAGESPATH=\/etc\/vdr\/plugins\/tvm2vdr\/epgimages\/
#Format der Logos
#Format of the images
#EPGIMAGESPNG=1
#EPGIMAGESJPG=1


#Die Zeit wird im TIMERS/RECORDINGS Menü angezeigt
#Display time in TIMERS/RECORDINGS
TIMERSWATCH=1

#Hide oClock-text
#HIDEOCLOCKTEXT=1



#GENERAL

#Hier kann die Auflösung des Ausgabegerätes angegeben werden (SD und FullHD sind nicht vollständig getestet )
#Choose the resolution of your Hardware

OSDWIDTH=1920
#OSDWIDTH=1280
#OSDWIDTH=720

#Höhe der Menueinträge
#Height of the menuitems
#MENUITEHEIGHT=50

#Die wichtigsten Schriften werden durch die eingebaute dynamische Version ersetzt
#The most important texts will be displayed using vdrs build in fonts.
#DYNAMICFONTS=1

#CHANNELVIEW

#Bexbiers Cryptsymbols ADDON please read README
#Bexbiers Cryptsymbols ADDON bitte README lesen
#CRYPTSYMBOLS=1
