make_baulog.log
build.env
py-compile
Twisted-*
elementtree-*
expat-*
fontconfig-*
fribidi-*
jfsutils-*
libsigc++-*
libtool-*
libxml2-*
libxmlccwrap-*
libxslt-*
lxml-*
pyOpenSSL-*
python-*
readline-*
setuptools-*
zope.interface-*
e2fsprogs-*
sqlite-3.6.0
boost_*
mc-*
lirc-*
libusb-*
libsoup-*
libogg-*
gstreamer-*
gst-*
graphlcd-*
glib-*
flac-*
alsa-*
DirectFB-*
freetype-*
busybox-*
libpng-*
rtmpdump-*
!*.diff
!*.patch
vsftpd-*
libcap-*
autofs-4.1.4
autofs-3.1.7
hotplug*
libdreamdvd*
libdvbsi*
tuxtxt*
Cheetah-*
e2openplugin-OpenWebif
sdparm-*
jpeg-*
enigma2-networkbrowser
host-python-*
libtuxtxt
libstgles-*
compile
bzip2-*
jasper-*
libcdio-*
libmicrohttpd-*
libmodplug-*
libmpeg2-*
libsamplerate-*
libvorbis-*
lzo-*
opkg-*
pcre-*
sqlite-*
tiff-*
tinyxml*
yajl-*
libnfs-*
portmap-*
taglib-*
