Twisted-*
elementtree-*
expat-*
fontconfig-*
fribidi-*
jfsutils-*
libsigc++-*
libtool-*
libxml2-*
libxmlccwrap-*
libxslt-*
lxml-*
pyOpenSSL-*
python-*
readline-*
setuptools-*
zope.interface-*
e2fsprogs-*
sqlite-3.6.0
boost_*
mc-*
lirc-*
libusb-*
libsoup-*
libogg-*
gstreamer-*
gst-*
graphlcd-*
glib-*
flac-*
alsa-*
DirectFB-*
freetype-*
