Twisted-*
elementtree-*
expat-*
fontconfig-*
fribidi-*
jfsutils-*
libsigc++-*
libtool-*
libxml2-*
libxmlccwrap-*
libxslt-*
lxml-*
pyOpenSSL-*
python-*
readline-*
setuptools-*
zope.interface-*
busybox-*
e2fsprogs-*
sqlite-3.6.0
boost_*
